name: CD Workflow

on:
  push:
    branches:
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"          
      - name: Push tag for each updated package
        env:
          GH_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          git config --global user.name "SDK Releaser Bot"
          git config --global user.email "noreply@stackit.de"
          
          pip install poetry
          scripts/cd.sh
          