name: CD Workflow

on:
  push:
    branches:
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest
    permissions: 
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: install uv & python
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.4"
          python-version: "3.9"
      - name: Push tag for each updated package
        env:
          GH_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          git config --global user.name "SDK Releaser Bot"
          git config --global user.email "noreply@stackit.de"
          
          scripts/cd.sh
          