name: CD Workflow

on: 
  push:
    tags:
      - "services/[a-zA-Z]+/v[0-9]+.[0-9]+.[0-9]+*"
      - "core/v[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

jobs:
  main:
    name: Build & Publish module
    runs-on: "ubuntu-latest"
    steps:      
      - name: Checkout
        uses: actions/checkout@v4     
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: Extract updated module path
        env:
          TAG: ${{ github.event.ref }}
        run: |
          # Remove the `refs/tags` prefix of the git tag
          TAG_NO_PREFIX=$(echo "$TAG" | sed 's/^refs\/tags\///')
          # Extract the path of the module to publish from the tag
          PACKAGE_PATH=$(echo "$TAG_NO_PREFIX" | rev | cut -d'/' -f2- | rev)          
          # Extract version to publish from tag
          VERSION="${TAG_NO_PREFIX##*/}"
          echo $VERSION
          # Save the path to the module and the version for use in the build/publish step to only update the module associated with this tag
          echo "PACKAGE_PATH=$PACKAGE_PATH" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Build & Publish to PyPi
        run: |
          pip install poetry
          cd $PACKAGE_PATH  
          # replace version                 
          sed -i "s/^version =.*/version = \"${VERSION}\"/" pyproject.toml 
          poetry publish --build --username="__token__" --no-interaction --password="${{ secrets.PYPI_TOKEN }}"