name: Check Version Update

on:
  push:
    branches:
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Push tag for each updated package
        run: |
          git config --global user.name "SDK Releaser Bot"
          git config --global user.email "noreply@stackit.de"
          
          scripts/trigger_script.sh
          